/alloc/         @nick-mobilecoin @jcape @samdealy
/.github/       @jcape @nick-mobilecoin @samdealy
/io/            @nick-mobilecoin @jcape @samdealy
/panic/         @nick-mobilecoin @jcape @samdealy
/sync/          @nick-mobilecoin @jcape @samdealy
/test_enclave/  @nick-mobilecoin @jcape @samdealy
/LICENSE        @jcape @nick-mobilecoin @samdealy
